*{padding:0;margin:0;}
.pox1{
width:100px;
height:100px;
display:block;
display:inline;
display:table;
float:left;
margin-right:100px;
background-color:red;
}

.pox2{
width:100px;
height:100px;
display:block;
display:inline;
display:table;
float:left;
margin-right:100px;
background-color:green;
}